:root {
  --body-bg-color: #d6eaf8;
  --basic-color: #e8ab82;
  --ear-color-dark: #641e16;
  --ear-color-light: #f1948a;
  --eyebrow-color: #a93226;
  --eye-white-color: #ffffff;
  --eye-black-color: #17202a;
  --eye-red-color: #f22016;
  --nose-dark-color: #424949;
  --nose-light-color: #eb984e;
  --nose-hair-color: #000000;
  --tooth-color: #fdfefe;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: var(--body-bg-color);
}
h2 {
  text-align: center;
  font-weight: 600;
  color: var(--eye-red-color);
}
.image-main-box {
  position: relative;
  width: 600px;
  height: 500px;
  margin: auto;
  background-color: #d0d3d4;
}
/* main-face */
.main-face {
  position: absolute;
  width: 50%;
  height: 60%;
  top: 20%;
  left: 25%;
  border-radius: 50%;
  border: 2px solid var(--ear-color-dark);
  background-color: var(--basic-color);
}
/* main-face-copy */
.main-face-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 3;
  background-color: var(--basic-color);
}
/* face-lower */
.face-lower {
  position: absolute;
  width: 110%;
  height: 60%;
  top: 45%;
  left: -5%;
  border: 2px solid var(--ear-color-dark);
  border-radius: 50%;
  z-index: 1;
  background-color: var(--basic-color);
}
/* face-lower-copy */
.face-lower-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
  background-color: var(--basic-color);
}
/* chin */
.chin {
  position: absolute;
  width: 30%;
  height: 40%;
  top: 70%;
  left: 35%;
  border-radius: 50%;
  border: 2px solid var(--ear-color-dark);
  background-color: var(--basic-color);
}
/* chin-copy */
.chin-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
  background-color: var(--basic-color);
}
/*
** Ears
*/
/* ear-left */
.ear-left {
  position: absolute;
  width: 23%;
  height: 30%;
  top: 5%;
  left: -6%;
  border-radius: 50%;
  background-color: var(--ear-color-dark);
}
/* ear-left-inner */
.ear-left-inner {
  position: absolute;
  width: 85%;
  height: 90%;
  top: 5%;
  border: 1px solid var(--ear-color-dark);
  border-radius: 50%;
  background-color: var(--ear-color-light);
}
/* ear-right */
.ear-right {
  position: absolute;
  width: 23%;
  height: 30%;
  top: 5%;
  right: -6%;
  border-radius: 50%;
  background-color: var(--ear-color-dark);
}
/* ear-right-inner */
.ear-right-inner {
  position: absolute;
  width: 85%;
  height: 90%;
  top: 5%;
  right: 0%;
  border: 1px solid var(--ear-color-dark);
  border-radius: 50%;
  background-color: var(--ear-color-light);
}

/* ear-deep-inner */
.ear-deep-inner {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 8%;
  top: 8%;
  border-radius: 50%;
  border: 1px solid var(--ear-color-dark);
  background-color: var(--tooth-color);
}
/*
**eyes
*/
/* left-eye */
.left-eye {
  position: absolute;
  width: 23%;
  height: 28%;
  top: 28%;
  left: 20%;
  border-radius: 50%;
  z-index: 4;
  border: 1px solid var(--ear-color-dark);
  background-color: var(--eye-white-color);
}
/* right-eye */
.right-eye {
  position: absolute;
  width: 23%;
  height: 28%;
  top: 28%;
  right: 20%;
  border-radius: 50%;
  z-index: 4;
  border: 1px solid var(--ear-color-dark);
  background-color: var(--eye-white-color);
}
/* inner-eye */
.inner-eye {
  position: absolute;
  width: 65%;
  height: 75%;
  top: 10%;
  border-radius: 50%;
  border: 3px solid var(--eye-red-color);
  background-color: var(--nose-hair-color);
}
/* eye-pupil */
.eye-pupil {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 30%;
  left: 20%;
  border-radius: 50%;
  background-color: var(--eye-white-color);
}
/* eyebrow-left */
.eyebrow-left {
  position: absolute;
  width: 25%;
  height: 20%;
  top: 15%;
  left: 20%;
  z-index: 4;
  border-radius: 40%;
  background-color: var(--ear-color-dark);
  clip-path: polygon(0 51%, 100% 38%, 100% 0);
}
/* eyebrow-right */
.eyebrow-right {
  position: absolute;
  width: 25%;
  height: 20%;
  top: 15%;
  right: 20%;
  z-index: 4;
  border-radius: 40%;
  background-color: var(--ear-color-dark);
  clip-path: polygon(100% 47%, 0 38%, 0 0);
}
/* nose */
.nose {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 55%;
  left: 40%;
  z-index: 5;
  border-radius: 50%;
  border: 1px solid var(--eye-white-color);
  background-color: var(--nose-hair-color);
}
/* mouth-left */
.mouth-left {
  position: absolute;
  width: 23%;
  height: 23%;
  top: 65%;
  left: 30%;
  z-index: 4;
  border-radius: 50%;
  border: 1px solid var(--nose-hair-color);
  background-color: var(--body-bg-color);
}
/* mouth-right */
.mouth-right {
  position: absolute;
  width: 23%;
  height: 23%;
  top: 65%;
  right: 30%;
  z-index: 4;
  border-radius: 50%;
  border: 1px solid var(--nose-hair-color);
  background-color: var(--body-bg-color);
}
/* teeth */
.left-tooth {
  position: absolute;
  width: 10%;
  height: 15%;
  top: 80%;
  left: 40%;
  z-index: 3;
  border-radius: 0 0 50% 50%;
  border: 1px solid var(--nose-hair-color);
  background-color: var(--eye-white-color);
}
.right-tooth {
  position: absolute;
  width: 10%;
  height: 15%;
  top: 80%;
  right: 40%;
  z-index: 3;
  border-radius: 0 0 50% 50%;
  border: 1px solid var(--nose-hair-color);
  background-color: var(--eye-white-color);
}
/* hair-left-1 */
.hair-left-1 {
  position: absolute;
  width: 40%;
  height: 15%;
  top: 65%;
  left: -3%;
  z-index: 5;
  background-color: var(--nose-hair-color);
  clip-path: polygon(100% 40%, 20% 50%, 100% 50%);
}
/* hair-left-2 */
.hair-left-2 {
  position: absolute;
  width: 30%;
  height: 15%;
  top: 70%;
  left: 5%;
  z-index: 5;
  background-color: var(--nose-hair-color);
  clip-path: polygon(100% 40%, 20% 50%, 100% 50%);
}
/* hair-left-3 */
.hair-left-3 {
  position: absolute;
  width: 25%;
  height: 15%;
  top: 75%;
  left: 10%;
  z-index: 5;
  background-color: var(--nose-hair-color);
  clip-path: polygon(100% 40%, 20% 50%, 100% 50%);
}

/* hair-right-1 */
.hair-right-1 {
  position: absolute;
  width: 40%;
  height: 15%;
  top: 65%;
  right: -3%;
  z-index: 5;
  background-color: var(--nose-hair-color);
  clip-path: polygon(80% 40%, 0 50%, 0 40%);
}
/* hair-right-2 */
.hair-right-2 {
  position: absolute;
  width: 30%;
  height: 15%;
  top: 70%;
  right: 5%;
  z-index: 5;
  background-color: var(--nose-hair-color);
  clip-path: polygon(80% 40%, 0 50%, 0 40%);
}
/* hair-right-3 */
.hair-right-3 {
  position: absolute;
  width: 25%;
  height: 15%;
  top: 75%;
  right: 10%;
  z-index: 5;
  background-color: var(--nose-hair-color);
  clip-path: polygon(80% 40%, 0 50%, 0 40%);
}
